name: Deploy to ECS Fargate

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t flask-fargate-demo .
          docker tag flask-fargate-demo:latest 801429474565.dkr.ecr.ap-south-1.amazonaws.com/flask-fargateproject:latest

      - name: Push Docker image to ECR
        run: |
          docker push 801429474565.dkr.ecr.ap-south-1.amazonaws.com/flask-fargateproject:latest
      - name: Deploy to ECS Service
        run: |
          aws ecs update-service \
            --cluster flask-cluster \
            --service flask-task-service \
            --force-new-deployment
